/* GENERAL */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
    color: rgb(255, 255, 255);
}

body {
    background: url(./images/background.jpg), rgb(17,27,51);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

